@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif, Arial;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #0E2442;
}

.cont-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3.5rem 0rem;
    background-color: #1E395E;
    border-radius: 21px;
    width: 500px;
    margin-left: 31rem;
}

.cont-inputs{
    display: inline;
    justify-content: center;
    width: 200px;
}

form {
    display: math;
    margin-top: 0em;
    padding: 10px;
    width: 500px;
    height: 590px;
}

#Btn-enviar{
    display: flex;
    justify-content: center;
    margin-top:10px;

}

input{
    border: none;
    color: black;
    border-radius: 10px;
    padding: 7px;

    &&:hover{
        background-color: #06214e;
        border: 1px solid #0E2442;
        
    }
}

#Btn-enviar{
    background-color: #0E2442;
    color: white;
    border: 1px solid #071323;
    padding: 10px 20px 10px 20px;
    margin-right: 3rem 0rem;
    transition: 0.2s;

    &&:hover{
        background-color: #fff;
        color:black;
    }
}

label{
    color: white;
}

