#imoveis {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8rem 0rem;
}

table {
    border-collapse: separate;
    border-spacing: 20px;
    /* Adiciona espaçamento entre as células */
    width: 80%;
    max-width: 900px;
}

td {
    padding: 10px;
    width: 150px;
    height: 290px;
    text-align: center;
    border-radius: 8px;
    /* Bordas arredondadas para as células */
    background-color: #FAFBF9;
    /* Cor de fundo clara */
}

img {
    width: 220px;
    height: 120px;
    object-fit: cover;
    border-radius: 8px;
    /* Bordas arredondadas nas imagens */
    /* Espaço abaixo da imagem */
}

.text {
    font-size: 14px;
    color: #333;
    margin-top: 5px;
    /* Um pequeno espaço entre o texto e a célula */
}

.saiba-mais{
    text-decoration: none;
    color: white;
    font-size: 16px;
    background-color: #0E2442;
    border-radius: 8px;
    padding: 10px;
    line-height: 100px;
    transition: 0.2s;

    &&:hover {
        border: none;
        background-color: #1C3A59;
        padding: 13px;
    }
    
}
